.signin {
  display: inline-block;
  border: 1px solid gray;
  color: fff;
  padding: 12px 24px;
  border-radius: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.signin:hover {
  background-color: rgb(226, 221, 221);
  border: 1px solid transparent;
}